@import './base.css';

@tailwind base;
@tailwind components;

/**----------------------------------------------------------------------------
 *
 * Form Styling for common app forms
 *
 -----------------------------------------------------------------------------*/
.panel-form {
  @apply flex flex-grow flex-col h-full m-0 border-2 border-[var(--vf-primary)];
}
.panel-form-form {
  @apply flex-grow h-full mb-auto m-2;
}
.panel-form-buttonbar {
  @apply flex flex-grow-0 flex-shrink-0 mt-auto ml-auto m-2;
}
.panel-form-title {
  @apply bg-gray-300 p-2 text-gray-900 mb-5 h-12 flex-nowrap truncate;
}

@tailwind utilities;

#app {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  margin: 0;
  padding: 0.5rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: grid;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template: auto 1fr / 1fr;

    /*display: flex;
    flex: 1 1 auto;
    flex-direction: column;*/
    height: 100%;
    width: 100%;
  }
}
