@import './base.css';

@tailwind base;
@tailwind components;

/**----------------------------------------------------------------------------
 *
 * Form Styling for common app forms
 *
 -----------------------------------------------------------------------------*/
.panel-form {
  @apply flex flex-grow flex-col h-full m-0 border-2 border-[var(--vf-primary)];
}
.panel-form-form {
  @apply flex-grow h-full mb-auto m-2;
}
.panel-form-buttonbar {
  @apply flex flex-grow-0 flex-shrink-0 mt-auto ml-auto m-2;
}
.panel-form-title {
  @apply bg-gray-300 p-2 text-gray-900 mb-5 h-12 flex-nowrap truncate;
}

@tailwind utilities;

#app {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  margin: 0;
  padding: 0.5rem;
}

