@import './base.css';

@tailwind base;
@tailwind components;

/**----------------------------------------------------------------------------
 *
 * Form Styling for common app forms
 *
 -----------------------------------------------------------------------------*/
.panel-form {
  @apply flex flex-grow flex-col h-full m-0 border-2 border-[var(--vf-primary)];
}
.panel-form-form {
  @apply flex-grow h-full mb-auto m-2 overflow-y-auto;
}
.panel-form-buttonbar {
  @apply flex flex-grow-0 flex-shrink-0 mt-auto ml-auto m-2;
}
.panel-form-title {
  @apply bg-[var(--vf-primary)] p-2 text-[var(--vf-color-on-primary)] text-sm mb-5 h-11 flex-nowrap truncate;
}

@tailwind utilities;

#app {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  margin: 0;
}

.v-popper__inner {
  font-size: 0.75em;
}

body div[data-v-app=""] {
  display: none;
}

/* force the cancel button of the sweetalert to gray from red */
body div:where(.swal2-container) button:where(.swal2-styled).swal2-deny {
  background-color: #ccc;
}